html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0;
}

/*
*
*#########################header
*
*
*/
header {
  h1 {
    text-align: center;
  }
  .head-picture {
    margin: 0;
    .img1 {
      height: 69px;
      width: 109px;
      content: url("../img/celine_108_s.jpg");
      vertical-align: middle;
    }
  }
  table {
    font-size: 9px;
    vertical-align: middle;
    td {
      padding-bottom: 10px;
    }
  }
  .head-picture, table {
    display: inline-block;
  }
}

/*
*
*###################### nav menu
*
*
*/

.menu {
  .nav_picture {
    .img2 {
      /*height: 80px;
      width: 120px;
      content: url("../img/piscine_s.jpg");*/
      display: none;
    }
  }

  nav {
    ul {
      width: 180px;
      margin: 0 auto;
      padding: 0;
      li {
        display: inline-block;
        width: 80px;
        height: 30px;
        background-color: aqua;
        text-align: center;
        padding-top: 10px;
        a {
          width: 27px;
          text-decoration: none;
        }
      }
    }
  }
}

/*
*
*
*############################ content
*
*
*/
.lorem_picture {
  .image_article {
    display: none;
  }
}


/*
*
*
*########################### form contact
*
*/
.contact {
  display: block;
  input {
    display: block;
  }
  fieldset {
    border: 2px solid transparent;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
  .btn-primary{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    background-color: #2962FF;
    border-style: none;
    border-radius: 3px;
  }
}
/*
*
*
*###################################" map
*
*/

#map {
  height: 400px;
  width: 320px;
}