html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0;
}

/*
*
*#########################header
*
*
*/
header {
  h1 {
    text-align: center;
  }
  .head-picture {
    white-space: nowrap;
    margin: 0;
    .img1 {
      height: 69px;
      width: 109px;
      content: url("../img/header/celine_108_s.jpg");
      vertical-align: middle;
      &:after {
        content: url("../img/header/celine_108_s.jpg");
      }
      &:before {
        display: none;
      }
    }
  }
  table {
    font-size: 9px;
    vertical-align: middle;
    td {
      padding-bottom: 10px;
    }
  }
  .head-picture, table {
    display: inline-block;
  }
}

/*
*
*###################### nav menu
*
*
*/

.menu {

  nav {
    ul {
      width: 180px;
      margin: 0 auto;
      padding: 0;
      li {
        display: inline-block;
        width: 80px;
        height: 30px;
        background-color: aqua;
        text-align: center;
        padding-top: 10px;
        &:hover{
          background-color:#689F38;
        }
        a {
          width: 27px;
          text-decoration: none;
        }
      }
    }
  }
}

/*
*
*
*############################ section
*
*
*/
section {
  figcaption {
    text-align: center;
  }
  .phs_d {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .top, .middle, .bottom {
    height: 125px;
    margin: 0;
    white-space: nowrap;
    font-size: 10px;
  }
  .phs1 {
    width: 100px;
    height: 100px;
    content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_s.jpg");
    &:after {
      content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_s.jpg");
    }
    &:before {
      display: none;
    }
  }

  .phs2 {
    width: 184px;
    height: 100px;
    content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_2_s.jpg");
    &:after {
      content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_2_s.jpg");
    }
    &:before {
      display: none;
    }
  }

  .phs3 {
    width: 133px;
    height: 100px;
    content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_3_s.jpg");
    &:after {
      content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_3_s.jpg");
    }
    &:before {
      display: none;
    }
  }
  .pe1 {
    width: 133px;
    height: 100px;
    content: url("../img/piscine_enterree/piscine_enterre_s.jpg");
    &:after {
      content: url("../img/piscine_enterree/piscine_enterre_s.jpg");
    }
    &:before {
      display: none;
    }
  }
  .pe2 {
    width: 133px;
    height: 100px;
    content: url("../img/piscine_enterree/piscine_enterree_2_s.jpg");
    &:after {
      content: url("../img/piscine_enterree/piscine_enterree_2_s.jpg");
    }
    &:before {
      display: none;
    }
  }
  .pe3 {
    width: 150px;
    height: 100px;
    content: url("../img/piscine_enterree/piscine_enterree_3_s.jpg");
    &:after {
      content: url("../img/piscine_enterree/piscine_enterree_3_s.jpg");
    }
    &:before {
      display: none;
    }
  }
  .pi1 {
    width: 132px;
    height: 100px;
    content: url("../img/piscine_interieur/piscine_interieur_s.jpg");
    &:after {
      content: url("../img/piscine_interieur/piscine_interieur_s.jpg");
    }
    &:before {
      display: none;
    }
  }
  .pi2 {
    width: 151px;
    height: 100px;
    content: url("../img/piscine_interieur/piscine_interieur_2_s.jpg");
    &:after {
      content: url("../img/piscine_interieur/piscine_interieur_2_s.jpg");
    }
    &:before {
      display: none;
    }
  }
  .pi3 {
    width: 133px;
    height: 100px;
    content: url("../img/piscine_interieur/piscine_interieur_3_s.jpg");
    &:after {
      content: url("../img/piscine_interieur/piscine_interieur_3_s.jpg");
    }
    &:before {
      display: none;
    }
  }
}

/*
*
*
*######################################## tablet format
*
*/
@media (min-width: 768px) {
  /*
  *
  *
  *#################################### header
  *
  */
  header {
    table {
      font-size: 15px;
      td {
        padding-bottom: 40px;
      }
    }
    .head-picture {
      .img1 {
        height: 200px;
        width: 316px;
        content: url("../img/header/celine_108_m.jpg");
        vertical-align: middle;
        &:after {
          content: url("../img/header/celine_108_m.jpg");
        }
        &:before {
          display: none;
        }
      }
    }
  }
  /*
  *
  *
  *################################### nav menu
  *
  *
  */
  .menu {
    nav {
      ul {
        width: 250px;
        li {
          height: 30px;
          width: 100px;
          padding-top: 10px;
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
  /*
  *
  *
  *################################## section
  *
  */
  section {
    img {
      padding-left: 20px
    }
    figcaption {
      font-size: 15px;
    }
    .phs_d {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    .top, .middle, .bottom {
      height: 225px;
      margin: 0;
      white-space: nowrap;
      font-size: 10px;
    }
    .phs1 {
      padding: 0;
      width: 200px;
      height: 200px;
      content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_m.jpg");
      &:after {
        content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_m.jpg");
      }
      &:before {
        display: none;
      }
    }

    .phs2 {
      width: 369px;
      height: 200px;
      content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_2_m.jpg");
      &:after {
        content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_2_m.jpg");
      }
      &:before {
        display: none;
      }
    }

    .phs3 {
      width: 267px;
      height: 200px;
      content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_3_m.jpg");
      &:after {
        content: url("../img/piscine_hors_sol/piscine-hors-sol-bois_3_m.jpg");
      }
      &:before {
        display: none;
      }
    }
    .pe1 {
      padding: 0;
      width: 266px;
      height: 200px;
      content: url("../img/piscine_enterree/piscine_enterre_m.jpg");
      &:after {
        content: url("../img/piscine_enterree/piscine_enterre_m.jpg");
      }
      &:before {
        display: none;
      }
    }
    .pe2 {
      width: 301px;
      height: 200px;
      content: url("../img/piscine_enterree/piscine_enterree_2_m.jpg");
      &:after {
        content: url("../img/piscine_enterree/piscine_enterree_2_m.jpg");
      }
      &:before {
        display: none;
      }
    }
    .pe3 {
      width: 426px;
      height: 200px;
      content: url("../img/piscine_enterree/piscine_enterree_3_m.jpg");
      &:after {
        content: url("../img/piscine_enterree/piscine_enterree_3_m.jpg");
      }
      &:before {
        display: none;
      }
    }
    .pi1 {
      padding: 0;
      width: 265px;
      height: 200px;
      content: url("../img/piscine_interieur/piscine_interieur_m.jpg");
      &:after {
        content: url("../img/piscine_interieur/piscine_interieur_m.jpg");
      }
      &:before {
        display: none;
      }
    }
    .pi2 {
      width: 302px;
      height: 200px;
      content: url("../img/piscine_interieur/piscine_interieur_2_m.jpg");
      &:after {
        content: url("../img/piscine_interieur/piscine_interieur_2_m.jpg");
      }
      &:before {
        display: none;
      }
    }
    .pi3 {
      width: 267px;
      height: 200px;
      content: url("../img/piscine_interieur/piscine_interieur_3_m.jpg");
      &:after {
        content: url("../img/piscine_interieur/piscine_interieur_3_m.jpg");
      }
      &:before {
        display: none;
      }
    }
  }
}
/*
*
*################################ desktop format medium
*
*/
@media (min-width: 1370px){
  /*
*
*######################### header
*
*/
  .header {
    width: 800px;
    margin: 0 auto;
    table {
      padding-left: 40px;
    }
  }
  .menu {
    padding: 0;
    margin-top: 54px;
    height: 500px;
    width: 300px;
    .nav_picture {
      border: 1px dashed grey;
      border-radius: 3pxs;
      height: 300px;
      padding: 0;
      margin: 0;
      .img2 {
        height: 189px;
        width: 300px;
        content: url("../img/piscine_enterree/prix-piscine-creusee_m.jpg");
      }
    }
    nav{
      border: 1px dashed grey;
      border-radius: 3pxs;
      height: 300px;
      background-color: #9E9E9E;
      ul{
        width: 200px;
        margin: 0 auto;
        li{
          margin-top: 70px;
          width: 200px;
          display: block;
        }
      }
    }
  }
  .menu, section {
    display: inline-block;
    vertical-align: top;
  }
}
/*
*
*################################## desktop format large
*
*
*/
@media (min-width: 1600px) {
  /*
  *
  *######################### header
  *
  */
  .header {
    width: 800px;
    margin: 0 auto;
    table {
      padding-left: 40px;
    }
  }
  .menu {
    width: 477px;
    margin-top: 54px;
    height: 500px;
    .nav_picture {
      .img2 {
        height: 300px;
        width: 477px;
        content: url("../img/piscine_enterree/prix-piscine-creusee_l.jpg");
        &:after{
          content: url("../img/piscine_enterree/prix-piscine-creusee_l.jpg");
        }
        &:before{
          display: none;
        }
      }
    }
    nav{
      height: 350px;
     ul{
       li{
         width: 200px;
         display: block;
       }
     }
    }
  }
  .menu, section {
    display: inline-block;
    vertical-align: top;
  }
}